faiss-cpu
fastapi
Jinja2
langchain
langchain-community
langchain-core
langchain-openai
langchain-redis
langchain-text-splitters
markdown
openai
psycopg2-binary
PyPDF2
python-dotenv
python-multipart
redis
requests
SQLAlchemy
uvicorn
